$color-lightgreen: #7ed56f;
$color-mediumgreen: #55c57a;
$color-darkgreen: #28b485;

$color-lightorange: #ffbb00;
$color-darkorange: #ff7730;

$color-lightblue: #2998ff;
$color-darkblue: #5643fa;

$color-maintext: #777;
$color-whitetext: #FFF;
$color-lightgray: #EEE;
$color-gray: #999;
$color-black: #000;
$color-darkgray: #333;
$color-verylightgray: #f7f7f7;

// FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$row-gap: 8rem;
$col-gap: 6rem;