@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --clr-lightgreen: #7ed56f;
    --clr-lightgreena: hsla(111, 55%, 64%, 0.8);
    --clr-mediumgreen: #55c57a;
    --clr-darkgreen: #28b485;
    --clr-darkgreena: hsla(160, 64%, 43%, 0.8);
    --clr-maintext: #777;
    --clr-whitetext: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.7;
    color: var(--clr-maintext);
    padding: 2rem;
}

.header {
    height: 95vh;
    background-image: linear-gradient(to right, var(--clr-lightgreena), var(--clr-darkgreena)), url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%)
}

.logo-box {
    position: absolute;
    top: 2.5rem;
    left: 2.5rem;
}

.logo {
    width: auto;
    height: 2rem;
}

.text-box {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
    */
}

.heading-primary {
    color: var(--clr-whitetext);
    text-transform: uppercase;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 2rem;
}

.heading-primary-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.02rem;
}