.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 4rem;
        transition: all .2s;
        position: relative;
        font-size: 1.6rem
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }
    
    &::after {
        content: " ";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 4rem;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        background-color: $color-whitetext;
        color: $color-maintext;

        &::after {
            background-color: $color-whitetext;
        }
    }

    &--animated {
        animation: moveInTop .5s ease-out .5s;
        animation-fill-mode: backwards;
    }
}