.row {
    max-width: $grid-width;
    margin: 0 auto;

    &:not(:last-child) {
        margin-bottom: $row-gap;

        @include mq(tab-port) {
            margin-bottom: $row-gap-s
        }
    }

    @include mq(tab-port) {
        max-width: 50rem;
        padding: 0 3rem;
    }

    @include clearfix;

    [class^="col-"] {
        
        float: left;

        &:not(:last-child) {
            margin-right: $col-gap;

            @include mq(tab-port) {
                margin-right: 0;
                margin-bottom: $row-gap-s
            }
        }

        @include mq(tab-port) {
            width: 100% !important;
        }
    }

    .col-1-2 {
        width: calc((100% - #{$col-gap}) / 2);
    }

    .col-1-3 {
        width: calc((100% - 2 * #{$col-gap}) / 3);
    }

    .col-1-4 {
        width: calc((100% - 3 * #{$col-gap}) / 4);
    }

    .col-2-3 {
        width: calc(2 * ((100% - 2 * #{$col-gap}) / 3) + #{$col-gap});
    }

    .col-2-4 {
        width: calc(2 * ((100% - 3 * #{$col-gap}) / 4) + #{$col-gap});
    }

    .col-3-4 {
        width: calc(3 * ((100% - 3 * #{$col-gap}) / 4) + 2 * #{$col-gap});
    }
}